.add-event-button {
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-event-button:hover {
  background-color: #e5c100;
}
#addsearch{
  position: absolute;
  right: 190px;
  top: 10px;
}
.view-details-btn{
  background-color: #ffd700;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}