
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: Inter, sans-serif;
}

.events-section {
  text-align: center;
  padding: 3rem 8rem;
  background-color: #1a1a1a;
  color: white;
}

.events-section h2 {
  font-size: 22px;
  font-weight: 800;
  text-align: justify;
  background-color: #1a1a1a;
  color: white;
}

.events-section p {
  font-size: 16px;
  font-weight: 200;
  text-align: justify;
  background-color: #1a1a1a;
  border-radius: 50px;
  color: white;
}
.events-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  margin-top: 2rem;
}

.events-card {
  background-color: #252525;
  padding: 1rem;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease;
}

.events-card:hover {
  transform: scale(1.05);
}

.events-card img {
  width: 100%;
  border-radius: 10px;
}

.events-card-price {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  gap: 1rem;
  max-width: 3000px;
  padding: 0;
  color: #fff;
}

.events-card-price p {
  font-size: 0.5rem;
  font-weight: 600;
  color: #EDE817;
}

.events-card-price h3 {
  font-size: 1rem;
  margin-left: 100px;
  font-weight: bold;
}

.events-button {
  background-color: #EDE817;
  width: 300px;
  font-size: 14px;
  margin-top: 15px;
  border-radius: 50px;
  height: 30px;
  font-weight: 600;
  border: transparent;
  cursor: pointer;
}

.events-button:hover {
  background-color: #ffd027;
  width: 300px;
  font-size: 14px;
  margin-top: 15px;
  height: 30px;
  font-weight: 600;
  border: transparent;
}

@media (max-width: 768px) {
  .events-section {
    padding: 2rem 1rem;
  }

  .events-section h2 {
    font-size: 18px;
  }

  .events-section p {
    font-size: 14px;
  }

  .events-card-container {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .events-card-price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;  
    color: #fff;
  }
  
  .events-card-price p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #EDE817;
  }
  
  .events-card-price h3 {
    font-size: 1rem;
    font-weight: bold;
    margin-left: auto;  
  }

  .events-button {
    width: 100%;
    font-size: 16px;
    height: 40px;
  }
}
#price{
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  margin-top: -20px;
}
.charsitmist{
  text-align: left;
}