* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    height: 100%;
    font-family: Inter, sans-serif;
  }
  
  .payment-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    
  }
  
  .sign-in-button {
    padding: 0.5rem 1rem;
    background-color: #EDE817;
    border: none;
    color: #000;
    font-weight: bold;
    cursor: pointer;
  }
  
  .payment-main {
    padding: 3rem 2rem;
    color: #fff;
    border-radius: 10px;
    text-align: center;
  }
  .paymentsection {
    padding: 3rem 2rem;
    max-height: 300px;
    background-color: #252525;
    color: #fff;
    text-align: center;
  }
  
  .payment-title {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
  
  .payment-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  
  .payment-image-wrapper {
    flex: 1;
  }
  
  .payment-image {
    max-width: 100%;
    border-radius: 8px;
  }
  
  .payment-method-wrapper {
    flex: 1;
    background-color: #1a1a1a;
    padding: 2rem;
    border-radius: 8px;
  }
  
  .payment-method-title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  
  .payment-methods h3 {
    margin-bottom: 1rem;
  }
  
  .payment-button {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 100px;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .payment-button.active, .payment-button:hover {
    background-color: #7e1c1c;
    color: #ffffff;
  }
  
  .next-button {
    margin-top: 1.5rem;
    padding: 1rem;
    width: 100%;
    background-color: #EDE817;
    color: #000;
    border: none;
    border-radius: 100px;
    font-weight: bold;
    cursor: pointer;
  }